@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.subnaver-font{
    font-family: 'Staatliches', sans-serif;
}

.banner-slider{
    height: 500px !important;
}

.banner-text{
    font-size: 85px;
    transform: translate(-94px, -53px);
}

.third-slider{
    transform: translate(-48px, -107px);
}

.sub-banner{
    height: 100px;
    background-image: url(../img/banner/sub-banner-bg.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF9E9;
    font-size: 50px;
}

.footer-bg{
    height: 300px;
    background-color: #432818;
}

.footer-options{
    list-style-type: none;
}

.option-box-footer1{
    color: #FFF9E9;
}

.option-box-footer1:hover{
    color: #fae8b5;
}

.box2-footer{
    width: 100%;
}

.line-footer{
    border: 0.5px solid #FFF9E9;
    width: 90%;
}

.option-box-footer2{
    color: #fae8b5;
    font-size: 11px;
}

.option-box-footer2:hover{
    color: #FFF9E9;
}

.social-media-btn{
    background-color: #352014;
    color: #FFF9E9;
}

.social-media-btn:hover{
    background-color: #855f49;
    color: #352014;
}

.android-ios{
    width: 110px;
}


/* productos style----------------------------------------------------------- */

.category-title{
    background-color: #fae8b5;
    color: #432818;
    height: 50px;
}

.btn-añadir-producto{
    background-color: #352014;
    color: #fae8b5;
}

.btn-añadir-producto:hover{
    background-color: #422e22;
    color: #fae8b5;
}

.img-producto1{
    height: 427px;
    background-image: url(../img/productos/shoes1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1000ms;
}

.img-producto1:hover{
    background-image: url(../img/productos/shoes1-hover.jpg);
}

.img-producto2{
    height: 427px;
    background-image: url(../img/productos/shoes2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1000ms;
}

.img-producto2:hover{
    background-image: url(../img/productos/shoes2-hover.webp);
}

.img-producto3{
    height: 427px;
    background-image: url(../img/productos/shoes3.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1000ms;
}

.img-producto3:hover{
    background-image: url(../img/productos/shoes3-hover.webp);
}

.img-producto4{
    height: 427px;
    background-image: url(../img/productos/shoes4.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1000ms;
}

.img-producto4:hover{
    background-image: url(../img/productos/shoes4-hover.webp);
}
