@media (max-width:1200px) {
    .banner-text{
        font-size: 40px;
        transform: translate(-62px, 21px);
    }
    .first-slider{
        transform: translate(-194px, -8px);
    }
    .third-slider{
        transform: translate(-817px, -144px);
    }
    .sub-banner{
        font-size: 30px;
    }
    .footer-bg{
        height: 500px;
    }
    .social-media-box{
        margin-left: 80px;
    }

    .sidebar-photos{
        margin-right: -130px;
    }
}

@media (max-width:500px) {
    .producto-slider{
        width: 400px;
        height: 400px;
    }
    .img-shoes-slider{
        width: 400px;
        height: 480px;
    }
    .shoes-sidebar{
        height: 64px !important;
    }
    .img-producto-add{
        height: 280px;
    }
    
    .card-img-producto-add{
        height: 450px;
        width: 420px;
    }
}
@media (max-width: 992px) {

    .novedades,
    .mas {
        height: 350px !important;
        background-position-y: -121px;
        background-size: cover;
    }

    .cajaNovedades {
        padding: 3px 0px;
    }

    .zapatos {
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 1400px) {
    .amsiedad {
        padding-left: 0;
    }
}
/*---------------------login----------------------*/

